<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <title>Home</title>
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    </head>
    <body id="space" id="successBody">
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" href="/">Home</a>
        <form class="form-inline my-2 my-lg-0">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0" formaction="/register">Register</button>
           <button type="submit" class="btn btn-outline-success my-2 my-sm-0 mgn-left" formaction="/login">Log In</button>
       </form>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-item nav-link disabled" href="#">Disabled</a>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="jumbotron" id="jumbo">
          <h1 class="display-4">Welcome to Space!</h1>
          <p class="lead">Nowadays in a country of freedom of speech, it's hard to express yourself without it coming back to you. Kick down the fear of being casted out and push your thoughts and ideas to Space.</p>
          <hr class="my-4">
          <form class="form-inline my-2 my-lg-0">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0" formaction="/register">Register</button>
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0 mgn-left" formaction="/login">Log In</button>
          </form>
          <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
        </div>
          <div class="row">
            <div class="col-4">
              <div class="jumbotron" id="infoRow">
                <h2>Build up your thoughts</h2>
                <hr class="my-4">
                <p>Express yourself with stories and/or quick statements. We don't limit you on your words.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="jumbotron" id="infoRow">
                <h2>Post articles and links</h2>
                <hr class="my-4">
                <p>Maybe you don't like typing, express yourself with meme's and links. There's no limit to the internet.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="jumbotron" id="infoRow">
                <h2>At the end of the day!</h2>
                <hr class="my-4">
                <p>We at PuSH created this platform to open the world to the concept of FREEDOM. So, PuSH my little birdies PuSSHHHHH!</p>
              </div>
            </div>
          </div>
        </div>
      </div>  
      <script src="app.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>