<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <title>Home</title>
      <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body id="space" id="successBody">
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" href="/">Home</a>
        <form class="form-inline my-2 my-lg-0">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0" formaction="/register">Register</button>
           <button type="submit" class="btn btn-outline-success my-2 my-sm-0 mgn-left" formaction="/login">Log In</button>
       </form>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-item nav-link disabled" href="#">Disabled</a>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="jumbotron" id="jumbo">
          <h1 class="display-4">Hello, world!</h1>
          <p class="lead">This is a web app is a forum in which people can create threads about anythin and also reply to these theads.</p>
          <hr class="my-4">
          <form class="form-inline my-2 my-lg-0">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0" formaction="/register">Register</button>
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0 mgn-left" formaction="/login">Log In</button>
          </form>
          <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
        </div>
          <div class="row">
            <div class="col-4">
              <div class="jumbotron" id="infoRow">
                <h1>Open conversations from the geeks to the reals</h1>
                <p>Feel free to open up conversations about anything you want.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="jumbotron" id="infoRow">
                <h1>Open conversations from the geeks to the reals</h1>
                <p>Feel free to open up conversations about anything you want.</p>
              </div>
            </div>
            <div class="col-4">
              <div class="jumbotron" id="infoRow">
                <h1>Open conversations from the geeks to the reals</h1>
                <p>Feel free to open up conversations about anything you want.</p>
              </div>
            </div>
          </div>
        </div>
      </div>  
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" href="/">Home</a>
        <a class="navbar-brand" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" href="/">Home</a>
      </nav>
      <script src="app.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>