<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Main</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body id="successBody">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" href="/">Thread</a>
        </nav>
        <div class="jumbotron">
          <h1 class="display-4"><%= thread.title %></h1>
          <p class="lead">- <%= thread.author %></p>
          <hr class="my-4">
          <p><%= thread.post %></p>
          <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Reply!
        </button>
        <!-- Modal -->
        <form>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <div class="form-group">
                                <div class="container">
                                    <div class="row">
                                        <label for="exampleFormControlTextarea1">Name</label>
                                        <input name="name" class="form-control" id="exampleFormControlTextarea1"></input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Reply</label>
                        <textarea name="reply" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>  
            </div>
        </form>
        </div>
        </div>      
        </div>
        <div class="container">
            <div class="jumbotron">
                 <div class="container">
                    <h1 class="display-4"></h1>
                    <hr class="my-4">
                    <p class="lead"></p>
                </div>
            </div>
            <a href="#" data-toggle="popover" title="Author" data-content="Thread">Thread</a>
        </div>
        <div class="pull-left meta">
            <div class="title h5">
                <a href="#"><b>Author</b></a>
                made a post.
            </div>
            <h6 class="text-muted time">1 minute ago</h6>
        </div>
        <script src="script/index.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>