.mgn-left {
	margin-left: 5px;
}

.txt-cnt {
	text-align: center;
}
#successBody{
	background-color: #323334;
}
#container{
	margin-top: 150px;
	margin-right: 250px;
	margin-left: 240px; 
}

/******info page*******/
#jumbo{
	margin-top:10px; 
	background-color: transparent;
}
#jumbo h1{
	text-shadow: whitesmoke;
}
#jumbo:hover{
	background-color: white;
	transition: 2s;
}
#jumbo a{
	color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}
#jumbo a:hover{
	background-color:#28a745; 
	color: white;
}

#infoRow:hover{
	background-color: white;
	transition: 2s;
}
#infoRow{ 
	border-width: 100px;
	background-color: transparent;
}

/************************  TESTING ***********************/

#space{
	background-image: url("https://fsmedia.imgix.net/7c/64/de/56/fb79/497e/b8ca/d146bcdd00ab/space-genetics-is-essential-making-life-in-space-work.jpeg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.threadBack{
	background-color: whitesmoke;
}

#links{
	color: black;
	text-decoration: none;
}

#links:hover{
	color: whitesmoke;
	transition: 2s; 
}