body{
	font-family: 'Space Mono', monospace; 
}
.mgn-left {
	margin-left: 5px;
}

.txt-cnt {
	text-align: center;
}
/* SUCCESS */
#container{
	margin-top: 150px;
	margin-right: 250px;
	margin-left: 240px;
	background: transparent; 
	color: #ffffff;
	text-shadow: 4px 4px black;
}
#container a{
	background: transparent;
	border: transparent;
	color: #ffffff;

}
#successBody{
	background-image: url("http://paperlief.com/images/milky-way-galaxy-and-the-andromeda-galaxy-wallpaper-2.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	background-size: cover;
	background-attachment: fixed;
}
/******info page*******/
#jumbo{
	margin-top:10px; 
	background-color: transparent;
	color: transparent;
}
#jumbo button{
	color: transparent;
	background-color: transparent;
	border: transparent;
}
#jumbo button:hover{
	color: white;
	background-color: #28a745;
}
#jumbo:hover{
	background-color: white;
	transition: 2s;
	color: black;
}
#infoRow:hover{
	background-color: white;
	color: black;
	font-family: 'Space Mono', monospace; 
	transition: 2s;
}
#infoRow{ 
	border-width: 100px;
	background-color: transparent;
	color: transparent;
}

/************************  TESTING ***********************/

#space{
	background-image: url("https://fsmedia.imgix.net/7c/64/de/56/fb79/497e/b8ca/d146bcdd00ab/space-genetics-is-essential-making-life-in-space-work.jpeg");
	background-repeat: no-repeat;
	background-size: auto;
	background-size: cover;
	background-attachment: fixed;
}

.threadBack {
	background-color: whitesmoke;
}
#links{
	color: black;
	text-decoration: none;
}

#links:hover{
	color: red;
	transition: 2s; 
}

/* MAIN */

#containerMain{
	width: 500px;
	display: inline-block;
}

#indent{
    white-space: pre-wrap;
}

/* LOGIN */
#loginBackground{
	background-image: url("https://gweb-earth.storage.googleapis.com/assets/hero@2x.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#login{
	width: 400px;
	color: white;
	margin-top: 100px; 
}
/* REGISTER */

#registerBackground{

	background-image: url("https://images.pexels.com/photos/14676/pexels-photo-14676.png?cs=srgb&dl=sky-night-dark-14676.jpg&fm=jpg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#formRegister{
	color: white;
	width: 30%;
	margin-top: 100px;
}

/* FORM */
#backgroundForForm{
	background-image: url("http://i.huffpost.com/gen/1918992/images/o-MOON-facebook.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Space Mono', monospace; 
	color: white;
}
#formBackground{
	width: 500px;
	margin-top: 200px;
}

#formBackground:hover{
	color: rgb(166, 255, 0);
	transition: 2s;
	font-size: 30px;
	font-weight: bold;
}

/* THREAD */